.miCard{
    width: 300px;
    background-color: antiquewhite;
    border: 2px solid chocolate;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #2e2e2e;
    padding: 30px;
}
 .proyecto{
    color: aliceblue;
    padding: 104px;
    margin-top: -92px;
 }
 .contacto{
    font-size: 70px;
    margin-left: 33px;
 }
 .me{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: -95px;
    
 }